<div class = "home">
	<div class="header-video-container">
		<video autoplay="autoplay" loop="loop" preload="auto" id="pretzel-video" class="header-video">
			<source src="//a0.muscache.com/airbnb/static/Paris-P1-1.mp4" type="video/mp4">
			<source src="//a0.muscache.com/airbnb/static/Paris-P1-0.webm" type="video/webm">
		</video>
	</div>
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			{{#link-to 'index' class='navbar-brand'}} Easiwed {{/link-to}}
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
				<li>{{#link-to 'about'}}About{{/link-to}}</li>
			</ul>
		</div>
	</div>
	<div class="middle-slogan strong upper">find perfect venue</div>
	<div class="search-bar-container">
		<div class = "row search-bar">
			<input class="col-md-3 wedding-date" placeholder="wedding date"/>
			<input class="col-md-3 wedding-area" placeholder="wedding destination"/>
			<input class="col-md-3 guest-count" placeholder="guest count"/>
			<button class="col-md-3 search-button">Search</button>
		</div>
	</div>
	<div class = "main-back-ground">
		<div class ="main-title strong upper">popular wedding spot</div>
		<div class="popular-spot-container">
			<div class="row spot-row-container">
				<div class="col-md-4">{{small-pop-dest}}</div>
				<div class="col-md-4">{{small-pop-dest}}</div>
				<div class="col-md-4">{{small-pop-dest}}</div>
			</div>
			<div class="row spot-row-container">
				<div class="col-md-8">{{mid-pop-dest}}</div>
				<div class="col-md-4">{{small-pop-dest}}</div>
			</div>
			<div class="row spot-row-container">
				<div class="col-md-4">{{small-pop-dest}}</div>
				<div class="col-md-4">{{small-pop-dest}}</div>
				<div class="col-md-4">{{small-pop-dest}}</div>
			</div>
			<div class="row spot-row-container">
				<div class="col-md-4">{{small-pop-dest}}</div>
				<div class="col-md-8">{{mid-pop-dest}}</div>
			</div>
		</div>
	</div>
</div>