<div class="container-fluid">
	<div class="row">
		<div {{bind-attr class=":row :problem-list-filter isFilterPaneOpen:filter-pane-open:filter-pane-close"}}>
			{{#if isFilterPaneOpen}}
				<div class="col-md-6 col-md-offset-3">
					<div class="row">
						<div class="col-md-3">
							Topics:
						</div>
						<div class="row col-md-9">
							{{#each model.categories}}
								<div class="col-md-4">
									{{input type="checkbox" checked=isAdmin}}{{name}}
								</div>
							{{/each}}
						</div>
					</div>
					<button {{action 'closeFilterPane'}} class="find-problems-button upper">find Problems</button>
				</div>

			{{else}}
				<button {{action 'openFilterPane'}} class="more-filter-bu
				tton upper">more filters</button>
				{{#each filters}}
					<span class="filter">{{this}}</span>
				{{/each}}
			{{/if}}
		</div>
		<div class="col-md-5">
			<div class = "problem-pane">
				{{#each problemsOnCurrentPage}}
					{{problem-list-item problem = this}}
				{{/each}}
			</div>
			<ul class="pagination ">

				<li><a href="#">&laquo;</a></li>
				{{#each pages}}
					<li>{{#link-to 'problem-list' (query-params topics='coding' page=this ) }}{{this}}{{/link-to}}</li>
				{{/each}}
				<li><a href="#">&raquo;</a></li>
			</ul>
		</div>
		<div class="col-md-7">
			{{outlet}}
		</div>
	</div>
</div>